<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= render :partial => "layouts/whats_new", :locals => { :new_courses => recent_courses(5)} %>
    </div>
    <div class="col-xs-6">
      
    </div>
  </div>
</div>
