
<!doctype html>
<html lang="en">
	<%= render 'layouts/header' %>
	<body>
		<div class="home">
			<div class="flex-container top-row">
				<div class="whats-new">
					<%= render :partial => "layouts/whats_new", :locals => { :new_courses => recent_courses(5)} %>
				</div>
				<div class="search">
					<%= render :partial => "layouts/home_search", :locals => { :tags_to_show => get_tags()} %>
				</div>
			</div>
			<div class="row bottom-row">
				<div class="col">
					<%= render :partial => "layouts/about" %>
				</div>
			</div>
		</div>
	</body>
</html>