<center>
    <div class="center jumbotron">
        <h1>Tags</h1>
        <br />
    </div>


<%= render :partial => "show_display", :locals => { :courses => @courses, :lessons => @lessons, :tag => @tag } %>
</center>
