<body class="index">
  <p id="notice"><%= notice %></p>

  <h1>Lessons</h1>
  
  <table class="index">
    <tbody>
      <% @lessons.each do |lesson| %>
        <tr>
        <%= render :partial => "layouts/lesson_partial", :locals => { :lesson => lesson } %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Lesson', new_lesson_path %>
</body>