<body class="index">
  <p id="notice"><%= notice %></p>

  <h1 class="index">Lessons</h1>
  <hr>
  
  <center>
  <ul class="index">
      <% @lessons.each do |lesson| %>
        <li>
          <%= render :partial => "layouts/lesson_partial", :locals => { :lesson => lesson } %>
        </li>
      <% end %>
  </ul>
  </center>

  <br>

  <%= link_to 'New Lesson', new_lesson_path %>
</body>