<body class="index">
  <p id="notice"><%= notice %></p>

  <h1>Lessons</h1>
  
  <ul class="index">
      <% @lessons.each do |lesson| %>
        <li>
        <%= render :partial => "layouts/lesson_partial", :locals => { :lesson => lesson } %>
        </li>
      <% end %>
  </ul>

  <br>

  <%= link_to 'New Lesson', new_lesson_path %>
</body>