<h1>
    New Lesson 
    <% if params[:lesson] != nil %>
        for section <%= params[:lesson][:section_id] %>
    <% end %>
</h1>

<%= render 'form', lesson: @lesson %>

<%= link_to 'Back', lessons_path %>