

<h4>New Section</h4>

<form action="" accept-charset="UTF-8" method="post">

  <label for="section_title">Section Title</label>
  <input class="form-control" type="text" name="section[title]" id="section-title">

  <hr>
  
  <input value="Add Section" type="button" class="btn form-btn" onclick="addSection();"/>
</form>
