


<h4>New Section</h4>


<label for="section_title">Section Title</label>

<div id="section-title-form-holder">

  <input class="form-control" type="text" id="section-title">
  
</div>

<hr>

<input value="Add Section" type="button" class="btn form-btn" onclick="addSection();"/>
