<body class="index">
  <p id="notice"><%= notice %></p>

  <h1 class="index">Courses</h1>
  <hr>

  <center>
  <ul class="index">
      <% @courses.each do |course| %>
        
        <li><%= render :partial => "layouts/course_partial", :locals => { :course => course } %></li>
        
      <% end %>
  </ul>
  </center>

  <br>

  <%= link_to 'New Course', new_course_path %>
</body>