<body class="index">
  <p id="notice"><%= notice %></p>

  <h1>Courses</h1>

  <table class="index">
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <%= render :partial => "layouts/course_partial", :locals => { :course => course } %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Course', new_course_path %>
</body>