<body>
  <p id="notice"><%= notice %></p>

  <div class="center jumbotron">
    <h1><%= @course.title %></h1>

    <h2>
      <%= @course.description  %>
    </h2>
    <br />
  </div>

  <div>
    <%=
        render 'course_viewer',
          total_lessons: @total_lessons, completed_lessons: @completed_lessons,
          lessons_completed_by_user: @lessons_completed_by_user, course: @course,
          no_progress: false,
          new_course: false
    %>
  </div>

</body>
