@import "bootstrap-sprockets";
@import "bootstrap";

$background-color: #ffffff;
$panel-color: darken($background-color, 20%);
$navbar-color: darken($background-color, 5%);
$btn-color: lighten($background-color, 8%);
$hover-color: darken($background-color, 50%);
$card-color: darken($panel-color, 10%);
$card-hover: darken($card-color, 20%);
$text-color: black;

%panel {
    color: $text-color;
    background-color: $panel-color;
    box-sizing: content-box;
  }

.navbar {
    background-color: $navbar-color;
    color: $text-color;
  
    .nav-btn {
      border-radius: 0px;
      margin: 5px;
      padding: 3px;
    }
    .nav-btn:hover {
      background-color: $panel-color;
    }
}

.home {
    padding-top: 2%;
    // margin-top: 5%;
    box-sizing: border-box;
    height: 800px;
    background-color: $background-color;
    .top-row {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5px;
        margin-top: 5%;
        height: 50%;
        align-content: stretch;
          .whats-new, .search{
            margin: 5px;
            display: inline-block;
            height: 100%;
            flex-grow: 5;
          }
      } 
      .bottom-row {
        margin: 5%
      }  
}

div.whatsnew {
    @extend %panel;
    height: 100%;
    overflow: scroll;
    // flex-grow: 5;
    // padding-left: 50px;
    // padding-right: 50px;
}
div.home-search {
    @extend %panel;
    display: flex;
    // flex-grow: 5;
    flex-direction: column;
    padding-right: 50px;
}

div.tag-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .tag-button {
    
  }
}

li {
    list-style-type: none;
  }

.course-viewer{
  display: flex;
}
.side{
  flex: 30%;
  background-color: $navbar-color;
  li.lsn{
    display: block;
    text-decoration: none;
    padding: 8px 16px;
  }
  li.lsn:hover {
    color: white;
    background-color: $hover-color;
  }
  li.lsn.active {
    background-color: pink;
    color: black;
  }
}

.main{
  flex: 70%;
  background-color: $panel-color;
}

.card {
  color: $text-color;
  background-color: $card-color;

  display: flex;
  flex-direction: column;

  border: 2px solid $card-color;

  .card-title-link {
    font-size: large;
  }
  .card-title-link, .card-subtitle-link {
    color: $text-color;
  }
  .card-title-link:hover, .card-subtitle-link:hover {
    background-color: $hover-color;
  }
}
.card:hover {
  border-bottom: 2px solid $card-hover;
  border-right: 2px solid $card-hover;
}


