@import "bootstrap-sprockets";
@import "bootstrap";

$background-color: #ffffff;
$panel-color: darken($background-color, 5%);
$navbar-color: darken($background-color, 20%);
$btn-color: lighten($background-color, 8%);
$hover-color: darken($background-color, 50%);
$card-color: $panel-color;
$card-hover: darken($card-color, 20%);
$text-color: black;
$rebel: #38908f;
$rebellion-color: lighten($rebel, 20%);

%panel {
    color: $text-color;
    background-color: $panel-color;
    box-sizing: content-box;
  }


@mixin _font {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal; //kerning
  text-rendering: optimizeLegibility; //enable ligatures for small text for some fonts
  letter-spacing: 0.06em; //6-12% spacing recommending
}
@mixin _fontsize {
    line-height: 1.35;
    font-size: 20px;
    h1 { font-size: 30px; }
}
@mixin thefont {
    @include _font;
    @include _fontsize;
}
.no-text-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.clickable {
    cursor: pointer;
    @extend .no-text-selection;
}

body { 
  margin: 0;
  padding-top: 65px; 
  @include thefont; 
}

.center {
  text-align: center;
}

.navbar {
    background-color: $navbar-color;
    color: $text-color;
  
    .nav-btn {
      border-radius: 0px;
      margin: 5px;
      padding: 3px;
    }
    .nav-btn:hover {
      background-color: $panel-color;
    }
}

.welcome-banner {
  background-color: $panel-color;

  width: 100%;
  width: 100vw;

  padding: 5%;

  form.navbar-form.navbar-left {
    padding: 0px 0px;
    margin: 0px 0px;
  }

  .banner-text {
    display: flex;
    flex-direction: column;
  }
}
.home {
  margin: 1% 5%;
  // box-sizing: border-box;
  height: 800px;
  background-color: $background-color;
  
  .top-row {
      display: flex;
      justify-content: space-between;
      height: 50%;
      align-content: stretch;
      .tag-buttons {
        display: flex;
        flex-direction: column;

        border-right: 2px solid $panel-color;
        padding-right: 15px;

        .tag-button {
          font-size: 14px;
          border: 1px solid $navbar-color;
          border-radius: 5px;
          padding: 4px;
          margin: 2px 0px;
          transition: all 0.1s ease-out;
        }
        .tag-button:hover {
          text-decoration: none;
          transform: translate(4px, 0px);
          border-color: $hover-color;
        }
        .tag-btn:hover {
          text-decoration: none;
          background-color: $background-color;
          color: $text-color;
        }
      }
      .whats-new{
        // margin: 0% 2%;
        display: inline-block;
        height: 100%;
        flex-grow: 5;
      }
    } 
    .bottom-row {
      margin: 5%
    }  
}

div.whatsnew {
    height: 100%;
    overflow: scroll;
}
div.home-search {
    @extend %panel;
    display: flex;
      //flex-grow: 5;
    flex-direction: column;
    padding-right: 50px;
    padding-bottom: 5px;
}
div.tag-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .tag-button {
    margin: 2px 2px 2px 2px;
  }
}

li {
  list-style-type: none;
}

.course-viewer{
  display: flex;
  padding-top: 3em;
  padding-bottom: 3em;

  #new-section-dialog {
    display: none;
    opacity: 0;
    transition: opacity 0.1s ease-in 0.1s;
    padding: 3em;
  }

  #new-lesson-dialog {
    display: none;
    opacity: 0;
    transition: opacity 0.1s ease-in 0.1s;
    padding: 3em;
  }

  #show-new-section-btn {
    margin: 1em;
  }
  
  .trix-button {
    background-color: $background-color;
  }

  .trix-content {
    background-color: $background-color;
    li {
      list-style-type: disc !important;
    }
  }

  .sec-li {
    margin: 1em;
  }
  
  .lsn-body {
    padding: 1em;
  }
}
.side{
  flex: 30%;

  background-color: $background-color;
  border-right: 2px solid $panel-color;
  margin-left: 20px;
  ol {
    padding-inline-start: 0px;
  }
  li.lsn {
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.1s ease-in;
    border: 2px solid white;
  }
  li.lsn:hover {
    color: black;
    background-color: $panel-color;
  }
  li.lsn.active {
    border: 2px solid $navbar-color;
    color: black;
  }
}
.main{
  flex: 70%;
  background-color: $background-color;
}

.card-link:hover {
  text-decoration: none;
}
.card {
  color: $text-color;
  background-color: $card-color;

  display: flex;
  flex-direction: column;

  border: 2px solid $card-color;
  border-radius: 5px;

  transition: all 0.1s ease-out;

  .card-body {
    margin-left: 3px;
  }
}
.card:hover {
  // border-bottom: 2px solid $card-hover;
  // border-right: 2px solid $card-hover;
  box-shadow: 3px 3px 5px darken($panel-color, 10%);
  transform: translate(-2px, -2px);
  text-decoration: none;
}

ul.index {
  li {
    margin: 5px 0px;
  }
}

.comment-section {
  padding: 3em;
  align-content: center;
}



