// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//@import "custom.scss";
@import url("https://fonts.googleapis.com/css?family=Noto + Sans");
$background-color: #ffffff;
$panel-color: darken($background-color, 5%);
$navbar-color: darken($background-color, 20%);
$btn-color: lighten($background-color, 8%);
$hover-color: darken($background-color, 50%);
$card-color: $panel-color;
$card-hover: darken($card-color, 20%);
$text-color: black;
$rebel: #38908f;
$rebellion-color: lighten($rebel, 20%);


//FOR ADDING TAGS//
*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapping {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
input.toggle1 {
  position: absolute;
  left: -9999px;
}

label.toggle {
  font-size: medium;
  display: block;
  position: relative;
  margin: 5px;
  padding: 10px 25px 10px 50px;
  border: 1px solid $text-color;
  border-radius: 10px;
  color: $text-color;
  background-color: darken($panel-color, 10%);
  //box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, box-shadow 0.2s;
}

label.toggle::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 20px;
  border: 1px solid black;
  border-radius: 100px;
  transition: background-color 0.2s;
}

// label.toggle:first-of-type {
//   transform: translateX(-40px);
// }

// label.toggle:last-of-type {
//   transform: translateX(40px);
// }

label.toggle:hover,
input.toggle1:focus + label.toggle {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

input.toggle1:checked + label.toggle {
  background-color: $panel-color;
  color: lighten($text-color, 15%);
  border: 1px solid $text-color;
}

input.toggle1:checked + label.toggle::before {
  background-color: $text-color;
  border: 1px solid black;
}

//TAG BADGE//
.wrapped {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a.badge {
  font-size: medium;
  display: block;
  position: relative;
  margin: 2.5px;
  padding: 5px 13px 5px 13px;
  border: 1px solid $text-color;
  border-radius: 10px;
  color: $text-color;
  background-color: $panel-color;
  //box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, box-shadow 0.2s;
}

a.badge:hover {
  color: $text-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

label.badge {
  font-size: medium;
  display: block;
  position: relative;
  margin: 2.5px;
  padding: 5px 13px 5px 13px;
  border: 2px solid $text-color;
  border-radius: 10px;
  color: $text-color;
  background-color: $panel-color;
  //box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, box-shadow 0.2s;
}

label.badge:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

input.badge {
  font-size: medium;
  display: block;
  position: relative;
  margin: 2.5px;
  padding: 5px 13px 5px 13px;
  border: 1px solid $text-color;
  border-radius: 10px;
  color: $text-color;
  background-color: $panel-color;
  //box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, box-shadow 0.2s;
}

input.badge:hover {
  color: $text-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

a.link:hover {
  color: $text-color;
  background-color: $background-color;
}

input.remove-border {
  box-shadow: none;
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 0, 0, 0, 0;
}
// input.remove-border::placeholder:focus {
//   color: $background-color;

// }

//Tag index//

.unlimited {
  height: unset;
}
