<div class="card bg-light lesson-card">
    <div class="card-body">
        <%= link_to course.title, course , class: "btn title-btn"%>
        <hr>
        <h5 class="card-title lesson-by">By: <%= link_to course.user.username, course.user %> </h5>
        <p class="card-text"><%= course.description %></p>
    </div>
</div>