<div class="home-search container-fluid">
    <h3 class="home-search-h3">Looking for something specific?</h3>
    <p>TO DO: Implement search here.</p>
    <%= link_to "Courses", courses_path, class: "btn browse-btn" %>
    <%= link_to "Lessons", lessons_path, class: "btn browse-btn" %>
</div>