<div class="home-search container-fluid">
    <h3 class="home-search-h3">Looking for something specific?</h3>
    <div>
       <%= render :partial => 'layouts/search_partial' %> 
    </div>
    <div>
        <%= render :partial => 'layouts/tag_buttons', :locals => { :tags_to_show => tags_to_show}%>
    </div>
    
</div>