
<div class="card">
    <div class="card-body">
        <h5 class="card-title">lesson.title</h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= link_to lesson.user.username, lesson.user, class:"card-subtitle mb-2 text-muted" %> </h6>
        <p class="card-text"><%= lesson_excerpt(lesson) %></p>
    </div>
</div>