

<%= link_to lesson, class:"card-link" do %>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"> <%= lesson.title %> </h4>
            
            <h6 class="card-subtitle mb-2 text-muted"> <%= lesson.user.username %> </h6>
            <p class="card-text"><%= lesson_excerpt(lesson) %></p>
        </div>
    </div>
<% end %>  