
<div class="card bg-light lesson-card">
    <div class="card-body">
        <%= link_to lesson.title, lesson, class: "btn title-btn" %>
        <hr>
        <h5><%= lesson_excerpt(lesson) %></h5>
        <hr>
    </div>
</div>