<div class="tag-buttons">
    <h4> Browse By Category </h4>
    <% tags_to_show.each do |tag| %>
        <div class="tag-button">
            <%= link_to tag.name, tag, class: "tag-btn" %>
        </div>
    <% end %> 
</div>