   
<h4>
    Tags:
    <% if content.tags.empty? %>
    None
    <% else %>
    <div class="wrapped"> 
        <% content.tags.each do |content_tag| %>
            <%= link_to content_tag, class:"badge" do %>
                <%= content_tag.name %>
            <% end %>
        <% end %>
    </div>
    <% end  %>
</h4>
