<div class="tag-buttons">
    <h3><%= link_to "Browse by category", "/tags", class:"link"%></h3>
    <% tags_to_show.each do |tag| %>
        
        <%= link_to tags_path(:start => tag.id), class:"tag-btn" do %>
            <div class="tag-button">
                <%= tag.name %>
                <!-- <%= link_to tag.name, tag, class: "tag-btn" %> -->
            </div>
        <% end %> 
        
    <% end %>
    
</div>