<div class="whatsnew container">
    <div class="container whatsnew-head-container">
        <div class="row header">
            <div class="header-label">
                <h3 class="whatsnew-header">What's New?</h3>
            </div>
            <div class="header-browse">
                <li class="btn btn-light"><%= link_to "Browse Courses", courses_path, class: "btn" %>
            </div>
        </div>
    </div>
        


    <ul class="list-unstyled"></ul>
        <% new_courses.each do |course| %>
            <li>
                <%= render :partial => "layouts/course_partial", :locals => { :course => course } %>
            </li>
            <br />
        <% end %>
    </ul>
</div>